header{
    background-color: rgb(54, 9, 114);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer{
    text-align: center;
    background-color: rgb(1, 5, 1);
    color: white;
    padding: 10px;


}
@media  {max-width: 600px;{
    .menu{
        flex-direction: column;
        align-items:flex-start;

    }
    header{
        flex-direction: column;
        align-items: flex-start;
    }
}
    
}
